<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TestFeatureOn" value="True"/>
    <add key="TestFeatureOff" value="False"/>
  </appSettings>

  <system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.web>
		<compilation debug="true"/>
  </system.web>
</configuration>
